<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>sisLilás</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="card-container">
    <ion-card>
      <form>
        <div class="form-content">
        <ion-input type="number" fill="outline" placeholder="Usuário"></ion-input>
        <ion-input type="password" fill="outline" placeholder="Senha"></ion-input>
        <ion-button style="padding-top: 15px; padding-bottom: 15px;">
          Entrar
        </ion-button>
      </div>
      </form>
    </ion-card>
  </div>
</ion-content>